.hero-bg{
    background-image: url('../../img/herop.jpg');
    background-size: cover;
    width: 100%;
    height: 900px;
}
.pt-xl{
    padding-top: 22%;
}
.fontHero{
    font-weight: 200;
    font-size: 50px;
}

.fontP{
    font-weight: 300;
}