.top-banner{
   
    background-image: url(../../img/top15.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:300px;
    
}

.big-txt{
    margin-top: 21% !important;
    color:azure;
    font-weight: 400;
    font-size:40px;
}
.margin10{
    margin-top: 8%;
    margin-bottom:8%;
}

.textAbout{
    color:#145477;
    font-size: 30px;
    font-weight: light;
}
